<!-- component -->
<div style="max-width:700px; margin: 100px auto;">

    <form class="flex items-center">
        <label for="voice-search" class="sr-only">Search</label>
        <div class="relative w-full">
            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                        clip-rule="evenodd"></path>
                </svg>
            </div>
            <input #box (keyup)="search(box.value)" type="text" id="voice-search"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search Lauches, Capsules, Design Templates..." required="">
            <button type="button" class="flex absolute inset-y-0 right-0 items-center pr-3">
                <svg aria-hidden="true"
                    class="w-4 h-4 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white"
                    fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M7 4a3 3 0 016 0v4a3 3 0 11-6 0V4zm4 10.93A7.001 7.001 0 0017 8a1 1 0 10-2 0A5 5 0 015 8a1 1 0 00-2 0 7.001 7.001 0 006 6.93V17H6a1 1 0 100 2h8a1 1 0 100-2h-3v-2.07z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
    </form>

</div>

<div class="mx-auto grid max-w-6xl  grid-cols-1 gap-6 p-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <section class="py-10" *ngFor="let launch of searchResults" (click)="openModal(launch)">
        <article
            class="rounded-xl bg-white p-3 shadow-lg hover:shadow-xl hover:transform hover:scale-105 duration-300 ">
            <a>
                <div class="relative flex items-end overflow-hidden rounded-xl">
                    <img style="width:40%; box-shadow: 1px 2px 3px whitesmoke;" [src]="launch.links.patch.small">
                </div>
                <div class="mt-1 p-2">
                    <h2 class="text-slate-700">{{launch.name}}</h2>
                    <p class="mt-1 text-sm text-slate-400">{{launch.details | slice:0:20}}...</p>

                    <div class="mt-3 flex items-end justify-between">
                        <p class="text-lg font-bold text-blue-500">{{launch.flight_number}} </p>
                    </div>
                </div>
            </a>
        </article>
    </section>
</div>

<div class="cover-for-modal" [ngClass]="{'showed': isShowModal}" (click)="isShowModal = false">
    <app-modal [launch]="selectedLaunch"></app-modal>
</div>
