<div class="modal">
    <div class="modal-content">
        <article
            class="rounded-xl bg-white p-3 shadow-lg hover:shadow-xl hover:transform hover:scale-105 duration-300 ">
            <a>
                <div class="mt-1 p-2">
                    <h2 class="text-slate-700">{{launch?.name}}</h2>
                    <p class="mt-1 text-sm text-slate-400">{{launch?.details | slice:0:500}}...</p>
                </div>
            </a>
        </article>
        <div class="m-3">
            <button (click)="closeModal()"
                class="bg-white text-gray-800 font-bold rounded border-b-2 border-red-500 hover:border-red-600 hover:bg-red-500 hover:text-white shadow-md py-2 px-6 inline-flex items-center">
                <span class="mr-2">Close</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="currentcolor"
                        d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
                </svg>
            </button>
        </div>

    </div>
</div>